
  <div class="row" >
    <div class="col-md-4">
      <ngx-saldogeral [icon]="iconSaldo" [titulo]="titleSaldo" [total]="dadosSaldo.totalCarteiras" [detalhes]="dadosSaldo.carteiras"></ngx-saldogeral>
    </div>
    <div class="col-md-4">
      <ngx-saldogeral [icon]="iconReceita" [titulo]="titleReceita" [total]="dadosSaldo.totalReceitas" [detalhes]="dadosSaldo.receitas"></ngx-saldogeral>
    </div>
    <div class="col-md-4">
      <ngx-saldogeral [icon]="iconDespesa" [titulo]="titleDespesa" [total]="dadosSaldo.totalDespesas" [detalhes]="dadosSaldo.despesas"></ngx-saldogeral>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-md-12">
        <ngx-listfaturas></ngx-listfaturas>
    </div>
</div>
