<nb-card>
  <nb-card-header>Despesas</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-auto">
        <nb-select matRipple style="width: 350px;" [(ngModel)]="faturaoption">
          <nb-option matRipple *ngFor="let itemfatura of faturasSelect" value="{{itemfatura.id}}">{{itemfatura.descricao}}</nb-option>
        </nb-select>
      </div>
      <div class="col-lg-auto">
        <nb-select matRipple style="width: 200px;" [(ngModel)]="mesref">
          <nb-option matRipple value="01">Janeiro</nb-option>
          <nb-option matRipple value="02">Fevereiro</nb-option>
          <nb-option matRipple value="03">Março</nb-option>
          <nb-option matRipple value="04">Abril</nb-option>
          <nb-option matRipple value="05">Maio</nb-option>
          <nb-option matRipple value="06">Junho</nb-option>
          <nb-option matRipple value="07">Julho</nb-option>
          <nb-option matRipple value="08">Agosto</nb-option>
          <nb-option matRipple value="09">Setembro</nb-option>
          <nb-option matRipple value="10">Outubro</nb-option>
          <nb-option matRipple value="11">Novembro</nb-option>
          <nb-option matRipple value="12">Dezembro</nb-option>
        </nb-select>
      </div>
      <div class="col-lg-1">
        <input type="text" nbInput fullWidth placeholder="Ano" maxlength="4" class="p-2" [(ngModel)]="anoref">
      </div>
      <nb-actions size="medium" fullWidth>
        <nb-action matRipple style="cursor: pointer;" (click)="onPesquisaDespesas()">
          <nb-icon class="action-icon" icon="search-outline"></nb-icon>
          <span>Pesquisar</span>
        </nb-action>
      </nb-actions>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <input #search class="search" type="text" placeholder="Filtro"
    (keydown.enter)="onSearch(search.value)" style="float:right">
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
    (deleteConfirm)="onDeleteConfirm($event)"
    (createConfirm)="onCreateConfirm($event)"
    (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>
    <label class="text-info">Total: &nbsp;</label><label  id="smart-total-receita" [innerHTML]="totalDespesas"></label>
  </nb-card-footer>
</nb-card>
